

.shop-blurb-container {
  /*background-color: pink;*/
  text-align: center;
}

.shop-blurb-header {
  font-size: 2.4em;
}

.shop-blurb-text {
  font-size: 1.2em;
}

.test-col {
  /*background-color: red;*/
}

.shop-table {
  display: table;
  /*border: 1px solid black;*/
}

.shop-table-row{
  display: table-row;
  background: orange;
  clear: right;
}

.shop-table-cell{
  display: table-cell;
  width: 100%;
  background: yellow;
  text-align: center;
}




/*.shop-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: pink;
}


.shop-row {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: red;
  clear: both;


}
.shop-column {
  width: 50%;
  background: red;
  display: table-cell;
  vertical-align: middle;
  background-color: blue;

}*/


/*body {background: green;}*/


/*.shop-column {
  width: 50%;
  background: blue;
  display: table-cell;
  vertical-align: middle;
}*/




/*
.about-container {
  margin: 0 -15px;
}

.about-column {
  padding: 15px;
}
*/
