
/* Blurb - top of page */
.shop-blurb-container {
  /*background-color: pink;*/
  text-align: center;
}

.shop-blurb-header {
  font-size: 2.4em;
}

.shop-blurb-text {
  font-size: 1.2em;
}


/* containing structure for shop info */
.shop-info-container {
  display: table;
  /*border: 1px solid black;*/
  text-align: center;
}

.shop-info-row{
  display: table-row;
  /*background: orange;*/
  clear: right;
}

.shop-info-cell{
  display: table-cell;
  width: 100%;
  /*background: yellow;*/
  font-size: 1.2em;
}

.shop-info-text {
  width: 90%;
  margin: auto;
}

/* image formatting (same as homepage-image in style.css) */
.shop-page-image {
  width: 100%;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}

.shop-page-image {
  margin-bottom: 0;
  margin-top: 0;
}





/*.shop-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: pink;
}


.shop-row {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: red;
  clear: both;


}
.shop-column {
  width: 50%;
  background: red;
  display: table-cell;
  vertical-align: middle;
  background-color: blue;

}*/


/*body {background: green;}*/


/*.shop-column {
  width: 50%;
  background: blue;
  display: table-cell;
  vertical-align: middle;
}*/




/*
.about-container {
  margin: 0 -15px;
}

.about-column {
  padding: 15px;
}
*/
